<html>
    <head>
        <title>Chant Pointer</title>
        <link href="/static/bulma.min.css" rel="stylesheet" type="text/css" media="all">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
html {
    overflow-y: auto;
    font-family: Arial, sans-serif;
}
        </style>
    </head>
    <body>
        <section class="hero is-primary has-text-centered">
            <div class="hero-body ">
                <h1 class="title">Chant Pointer</h1>
                <h2 class="subtitle">Easily point Anglican chants</h2>
            </div>
        </section>

        <div class="section">
            <p>Oh no! An error occurred. The error message was:</p>
            <pre>{{ .Message }}</pre>
            <p>Please try again. If this keeps happening, please <a href="mailto:reesmichael1@vivaldi.net">let me know</a>.</p>
            <p><a href="/">Return to Home</a></p>
        </div>
    </body>
</html>
