<html>
    <head>
        <title>Chant Pointer</title>
        <link href="/static/bulma.min.css" rel="stylesheet" type="text/css" media="all">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style> 
html {
    overflow-y: auto;
    font-family: Arial, sans-serif;
}
        </style>
    </head>
    <body>
        <section class="hero is-primary has-text-centered">
            <div class="hero-body ">
                <h1 class="title">Chant Pointer</h1>
                <h2 class="subtitle">Easily point Anglican chants</h2>
            </div>
        </section>
        <div class="section">
            <form action="/generate" method="post" enctype="multipart/form-data">

                <div class="field">
                    <label class="label">Chant Score</label>
                    <div class="control">
                        <input class="input" type="file" name="score" accept="image/*" 
                          {{ if ne .ScorePath "" }} value="{{ .ScorePath }}" {{ end }} required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Title</label>
                    <div class="control">
                        <input class="input" name="title" type="text" placeholder="Title" 
                          {{ if ne .Title "" }} value="{{ .Title }}" {{ end }}
                        >
                    </div>
                </div>

                <div class="field">
                    <label class="label">Subtitle</label>
                    <div class="control">
                        <input class="input" name="subtitle" type="text" placeholder="Subtitle"
                          {{ if ne .Subtitle "" }} value="{{ .Subtitle }}" {{ end }}
                        >
                    </div>
                </div>

                <div class="field">
                    <label class="label">Chant</label>
                    <div class="control">
                        <textarea name="chant" class="textarea" required>{{ if ne .Chant "" }}{{ .Chant }}{{ end }}</textarea>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-link">Generate PDF</button>
                    </div>
                </div>

                {{ if ne .URL "" }}
                <div class="field">
                    <div class="control">
                        <a href="{{ .URL }}">Download PDF</a>
                        <p>This link will work and may be shared for at least the next 24 hours.</p>
                        <p>(If you would like to make any changes, you will need to re-select the chant score.)</p>
                    </div>
                </div>
                {{ end }}
            </form>
        </div>
        <div class="section">
            <h2 class="subtitle">Demo</h2>
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <pre>The earth is the Lord's and all that | is in | it,
the world and | all who | dwell there|in.

For it is he who founded it u|pon the | s\"eas
and made it firm | u_pon | (the rivers) (of the) | deep.

^Who is he, this | King of | glory?
The Lord of hosts,\\ he | is the | King of | glory.</pre>
                    </div>
                </div>
                <div class="column">
                    <img src="./static/demo.png">
                </div>
            </div>
        </div>
        <div class="section">
            <h2 class="subtitle">How-To</h2>
            <div class="content">
                <ul>
                    <li>Use line breaks to separate parts of a verse</li>
                    <li>Use <code>\\</code> to insert a line break in the output while staying in the same verse</li>
                    <li>Use <code>\"</code> in front of a vowel to insert a diacritic</li>
                    <li>Use the <code>|</code> character to divide bars</li>
                    <li>Use <code>_</code> to break syllables: <code>war_rior</code>.
                    <li>Use parentheses to group syllables: <code>(glory of) the Lord</code></li>
                    <li>Add a <code>^</code> at the beginning of a verse to indicate that the verse should use the second part of the chant</li>
                    <li>Need help or want to see something else added? Feel free to <a href="mailto:reesmichael1@vivaldi.net">contact me</a>!</li>
                </ul>
            </div>
        </div>

        <footer class="footer">
            <div class="content">
                <p>
                If you find this useful, you may also be interested in <a href="https://soubasse.com">Soubasse</a>.
                </p>
                <p>This website was built by <a href="https://reesmichael1.com">Michael Rees</a> on top of a <a href="https://github.com/gregrs-uk/anglican-chant-template">LaTeX template for typesetting Anglican chant</a> originally written by <a href="https://github.com/gregrs-uk">@gregrs-uk</a>.
                <p>If you are interested, the source <a href="https://gitlab.com/reesmichael1/chantpointer">is available on Gitlab</a>.</p>
            </div>
        </footer>
    </body>
</html>
